/* Champagne */
.metacolor-champagne {
    background-color: #99582A;
}
.footer-champagne {
    background-color: #99582A;
    color: #432818;
}
.navbar-champagne {
    background-color: #a27c3f;
    color: #FFE6A7;
}

.navbar-champagne .navbar-brand,
.navbar-champagne .navbar-nav .nav-link,
.navbar-champagne .navbar-toggler-icon {
    color: #FFE6A7;
}

.navbar-champagne .navbar-brand:hover,
.navbar-champagne .navbar-nav .nav-link:hover,
.navbar-champagne .navbar-brand:focus,
.navbar-champagne .navbar-nav .nav-link:focus {
    color: #FFD700;
}

.jumbotron-champagne {
    background-color: #BB9457;
    color: #3d130c;
}
.destaque-champagne {
    background-color: #FFD700;
    font-family: 'Courier New', Courier, monospace; 
    color: black;
    padding: 0px 5px;
}
body[data-theme="champagne"] {
    background: rgb(111,29,27);
    background: linear-gradient(0deg, rgba(111,29,27,1) 80%, rgba(78,20,19,1) 90%, rgba(45,11,11,1) 95%);
    color: #ffe8b4;
}
.logo-champagne {
    background-image: url('imagens/logo-champagne.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}




/* Coast */
.metacolor-coast {
    background-color: #5E503F;
}
.footer-coast {
    background-color: #5E503F;
}
.jumbotron-coast {
    background-color: #22333B;
}
.destaque-coast {
    background-color: #EAE0D5;
    font-family: 'Courier New', Courier, monospace; 
    color: black;
    padding: 0px 5px;

}
body[data-theme="coast"] {
    background-color: #162329;
    color: #ffffff;
}
.navbar-coast {
    background-color: #C6AC8F;
    color: #23485a;
}

.navbar-coast .navbar-brand,
.navbar-coast .navbar-nav .nav-link,
.navbar-coast .navbar-toggler-icon {
    color: #23485a;
}

.navbar-coast .navbar-brand:hover,
.navbar-coast .navbar-nav .nav-link:hover,
.navbar-coast .navbar-brand:focus,
.navbar-coast .navbar-nav .nav-link:focus {
    color: #1a75a0;
}

.logo-coast {
    background-image: url('imagens/logo-coast.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}



/* Taiga */
.metacolor-taiga {
    background-color: #BC6C25;
}
.footer-taiga {
    background-color: #BC6C25;
}
.navbar-taiga {
    background-color: #283618;
}
.jumbotron-taiga {
    background-color: #606C38;
}
.destaque-taiga {
    background-color: #FEFAE0;
    font-family: 'Courier New', Courier, monospace; 
    color: black;
    padding: 0px 5px;
}
body[data-theme="taiga"] {
    background-color: #DDA15E;
    color: #ffffff;
}