.btn-pai {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* Espaço entre ícone e texto */
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
}

a.btn-pai {
    text-decoration: none !important;
}



/* === Botões de Navegação Interna com Destaque === */
.destaque-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    transform: skewX(20deg);
}
/* Corrige a inclinação do conteúdo interno */
.destaque-button > * {
    transform: skewX(-20deg);
}
/* Efeito hover para mais destaque */
.destaque-button:hover {
    transform: skewX(20deg) translateY(-3px); /* Levanta mais no hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #5aa63a, #9de06a);
}
/* Garante consistência nos temas */
body[data-theme="dark"] .destaque-button,
body[data-theme="light"] .destaque-button {
    color: #000000;
    background: linear-gradient(45deg, #94d069, #bffd93);
}




/* === Botões Personalizados em Itálico === */
.custom-button {
    font-size: 1.1rem;
    font-style: italic;
    color: #333;
    background: linear-gradient(45deg, #f0f0f0, #ffffff);
    border: 1px solid #ddd;
    border-radius: 5px;
    transform: skewX(-15deg);
    width: 100%;
}
/* Corrige a inclinação do conteúdo interno */
.custom-button > * {
    transform: skewX(15deg);
}
/* Ícones específicos */
.custom-button i {
    font-size: 1.5rem;
}
/* Efeito hover */
.custom-button:hover {
    transform: skewX(-15deg) translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #191970 !important;
}
/* Estilo para tema escuro */
body[data-theme="dark"] .custom-button {
    color: #f0f0f0;
    background: linear-gradient(45deg, #2a2a2a, #3a3a3a);
    border-color: #444;
}
body[data-theme="dark"] .custom-button:hover {
    color: #7bebe9 !important;
}