.linkedin-card .card {
    background-image: url('../imagens/perfis/perfil-linkedin.jpg');
}

.github-card .card {
    background-image: url('../imagens/perfis/perfil-github.png');
}

.card-neutro {
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}