/* Tema Claro */
body[data-theme="light"] {
    background-color: #d5cfc4;
    color: #000000;
}

/* Tema Escuro */
body[data-theme="dark"] {
    background-color: #1e1e1e;
    color: #ffffff;
}

/* Destaque comum */
.destaque {
    background-color: rgb(191, 253, 147);
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 0 5px;
    border-radius: 3px;
    transform: skewX(15deg); /* Corrige a inclinação do texto */
    border-radius: 5px; /* Bordas ligeiramente arredondadas */
    transform: skewX(-15deg); /* Inclinção para efeito itálico */
}

/* Logo */
.logo-blackwhite {
    background-image: url('../imagens/logos/logo-sem-fundo.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

/* Estilo neutro para cartas */
.card-neutro {
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
}

.translucent-white {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
}

.translucent-dark {
    background-color: rgba(33, 37, 41, 0.2);
    backdrop-filter: blur(4px);
}


/* === Ajustes para Barras do Celular === */
@media (max-width: 768px) {
    body {
        -webkit-backdrop-filter: blur(10px); /* Efeito de desfoque na barra, se suportado */
        backdrop-filter: blur(10px); /* Propriedade padrão para compatibilidade */
        background: inherit; /* Herda a cor do body para consistência */
    }
    /* Tente influenciar a barra inferior (limitado a navegadores compatíveis) */
    :root {
        --bar-color: #ffffff; /* Cor padrão */
    }
    body[data-theme="dark"] {
        --bar-color: #1e1e1e;
    }
    @supports (-webkit-overflow-scrolling: touch) {
        /* Para iOS, tenta aplicar a cor */
        body::before {
            content: "";
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px; /* Aproximação da altura da barra inferior */
            background: var(--bar-color);
            z-index: -1;
        }
    }
}